/**
 * Define a new theme of Material UI here
 * @link https://material.angular.io/guide/theming
 */

 $primary:    mat-palette($my-primary);
 $accent:     mat-palette($my-accent);
 $secondary:  mat-palette($my-secondary);
 $grey:       mat-palette($my-grey);
 $warn:       mat-palette($mat-deep-orange);
 $info:       mat-palette($my-info);
 
 $theme:      mat-light-theme($primary, $accent, $warn);
 
 $theme: map_merge($theme, (grey: $grey, secondary: $secondary, info: $info));
 
 @include angular-material-theme($theme);