.searchPage {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url("../../../../assets/img/starry-sky.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  overflow: auto;
  .title {
    padding: 20px 0;
    margin: 30px 0;
    background-image: url("../../../../assets/img/swTitle.png");
    height: 200px;
    width: 100%;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .searchFilter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 35px;

    .form-serach {
      margin: 0 10px;

      .mat-icon-button {
        width: 18px !important;
        height: 24px !important;
      }

      ::ng-deep .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: white !important;
      }

      ::ng-deep.mat-form-field-underline {
        /*change color of underline*/
        background-color: white !important;
      }

      ::ng-deep.mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: white !important;;
      }

      .mat-input-element {
        color: #00a196 !important;
      }

      .mat-input-element:focus {
        color: #00a196 !important;
      }

      .mat-icon {
        color: white !important;
      }

      .mat-select-value {
        color: white !important;
      }
      ::ng-deep .mat-select-value {
        color: #00a196 !important;
      }
      ::ng-deep .mat-form-field-label {
        color: white !important;
      }
    }
  }
  .result-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    min-height: 50px;
    .mat-card {
      width: 200px;
      margin: 10px;
    }
  }
}
