<div class="searchPage">
  <div class="title"></div>
  <div class="searchFilter">
    <mat-form-field class="form-serach">
      <input type="text" placeholder="Search" matInput [(ngModel)]="searchText">
      <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="form-serach">
      <mat-select placeholder="Search Type" (selectionChange)="setSearchType()" [(value)]="searchType">
        <mat-option *ngFor="let option of searchTypesOptions" [value]="searchTypesList[option]">
          <span>
             {{ option }}
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="result-search">
      <mat-card class="example-card" *ngFor="let item of (itemList$ | async | search: searchText )" (click)="moreInfo(item.url)">
        <ng-container [ngSwitch]="searchType">
          <ng-container *ngSwitchCase="searchTypesList.People">
            <mat-card-header>
              <mat-card-title>{{ item.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Birthday: {{ item.birth_year }}
            </mat-card-content>
          </ng-container>
          <ng-container *ngSwitchCase="searchTypesList.Films">
            <mat-card-header>
              <mat-card-title>{{  item.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Release: {{ item.release_date | date }}
            </mat-card-content>
          </ng-container>
          <ng-container *ngSwitchCase="searchTypesList.Planets">
            <mat-card-header>
              <mat-card-title>{{  item.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Population: {{ item.population }}
            </mat-card-content>
          </ng-container>
          <ng-container *ngSwitchCase="searchTypesList.Species">
            <mat-card-header>
              <mat-card-title>{{  item.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Classification: {{ item.classification }}
              <br>
              Designation: {{ item.designation }}
            </mat-card-content>
          </ng-container>
          <ng-container *ngSwitchCase="searchTypesList.Starships">
            <mat-card-header>
              <mat-card-title>{{  item.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Model: {{ item.model }}
              <br>
              Cost in credits: {{ item.cost_in_credits }}
            </mat-card-content>
          </ng-container>
          <ng-container *ngSwitchCase="searchTypesList.Vehicles">
            <mat-card-header>
              <mat-card-title>{{  item.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Model: {{ item.model }}
              <br>
              Manufacturer: {{ item.manufacturer }}
              <br>
              Cost in credits: {{ item.cost_in_credits }}
            </mat-card-content>
          </ng-container>
        </ng-container>
      </mat-card>
  </div>
</div>
