<div class="detailPage">
  <div class="title"></div>
  <div class="result">
    <mat-card class="info-card" *ngIf="(item$| async) as info">
      <mat-card-content>
        <div *ngIf="typeSW === 'people'">
          <p>
            name:<span>{{ info?.name }}</span>
          </p>
        <p>
          Height:<span>{{ info?.height }}</span>
        </p>
        <p>
          Mass:<span>{{ info?.mass }}</span>
        </p>
        <p>
          Hair color:<span>{{ info?.hair_color }}</span>
        </p>
        <p>
          Skin color:<span>{{ info?.skin_color }}</span>
        </p>
        <p>
          Height:<span>{{ info?.height }}</span>
        </p>
        <p>
          Eye color:<span>{{ info?.eye_color }}</span>
        </p>
        <p>
          Birth year:<span>{{ info?.birth_year }}</span>
        </p>
        <p>
          Gender:<span>{{ info?.gender }}</span>
        </p>
      </div>
        <div *ngIf="typeSW === 'films'">
          <p>
            title:<span>{{ info?.title }}</span>
          </p>
          <p>
            episode:<span>{{ info?.episode_id }}</span>
          </p>
          <p>
            opening crawl:<span>{{ info?.opening_crawl }}</span>
          </p>
          <p>
            director:<span>{{ info?.director }}</span>
          </p>
          <p>
            producer:<span>{{ info?.producer }}</span>
          </p>
          <p>
            release date:<span>{{ info?.release_date }}</span>
          </p>
        </div>
        <div *ngIf="typeSW === 'planets'">
          <p>
            name:<span>{{ info?.name }}</span>
          </p>
          <p>
            rotation period:<span>{{ info?.rotation_period }}</span>
          </p>
          <p>
            orbital period:<span>{{ info?.orbital_period }}</span>
          </p>
          <p>
            diameter:<span>{{ info?.diameter }}</span>
          </p>
          <p>
            climate:<span>{{ info?.climate }}</span>
          </p>
          <p>
            gravity:<span>{{ info?.gravity }}</span>
          </p>

          <p>
            terrain:<span>{{ info?.terrain }}</span>
          </p>
          <p>
            surface water:<span>{{ info?.surface_water }}</span>
          </p>
          <p>
            population:<span>{{ info?.population }}</span>
          </p>
        </div>
        <div *ngIf="typeSW === 'species'">
          <p>
            name:<span>{{ info?.name }}</span>
          </p>
          <p>
            classification:<span>{{ info?.classification }}</span>
          </p>
          <p>
            designation:<span>{{ info?.designation }}</span>
          </p>
          <p>
            average height:<span>{{ info?.average_height }}</span>
          </p>
          <p>
            skin colors:<span>{{ info?.skin_colors }}</span>
          </p>
          <p>
            hair colors:<span>{{ info?.hair_colors }}</span>
          </p>

          <p>
            eye colors:<span>{{ info?.eye_colors }}</span>
          </p>
          <p>
            average lifespan:<span>{{ info?.average_lifespan }}</span>
          </p>
          <p>
            language:<span>{{ info?.language }}</span>
          </p>
        </div>
        <div *ngIf="typeSW === 'starships'">
          <p>
            name:<span>{{ info?.name }}</span>
          </p>
          <p>
            model:<span>{{ info?.model }}</span>
          </p>
          <p>
            manufacturer:<span>{{ info?.manufacturer }}</span>
          </p>
          <p>
            length:<span>{{ info?.length }}</span>
          </p>
          <p>
            max atmosphering speed:<span>{{ info?.max_atmosphering_speed }}</span>
          </p>
          <p>
            crew:<span>{{ info?.crew }}</span>
          </p>
          <p>
            cargo capacity:<span>{{ info?.cargo_capacity }}</span>
          </p>
          <p>
            consumables:<span>{{ info?.consumables }}</span>
          </p>
          <p>
            hyperdrive rating:<span>{{ info?.hyperdrive_rating }}</span>
          </p>
          <p>
            MGLT:<span>{{ info?.MGLT }}</span>
          </p>
          <p>
            starship class:<span>{{ info?.starship_class }}</span>
          </p>
        </div>
        <div *ngIf="typeSW === 'vehicles'">
          <p>
            name:<span>{{ info?.name }}</span>
          </p>
          <p>
            model:<span>{{ info?.model }}</span>
          </p>
          <p>
            cost in credits:<span>{{ info?.cost_in_credits }}</span>
          </p>
          <p>
            length:<span>{{ info?.length }}</span>
          </p>
          <p>
            max atmosphering speed:<span>{{ info?.max_atmosphering_speed }}</span>
          </p>
          <p>
            crew:<span>{{ info?.crew }}</span>
          </p>
          <p>
            passengers:<span>{{ info?.passengers }}</span>
          </p>
          <p>
            cargo_capacity:<span>{{ info?.cargo_capacity }}</span>
          </p>
          <p>
            consumables:<span>{{ info?.consumables }}</span>
          </p>
          <p>
            vehicle class:<span>{{ info?.vehicle_class }}</span>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
