.detailPage {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url("../../../../assets/img/starry-sky.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  overflow: auto;
  .title {
    padding: 20px 0;
    margin: 30px 0;
    background-image: url("../../../../assets/img/swTitle.png");
    height: 200px;
    width: 100%;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    .info-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 50%;
      p {
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        span {
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
          margin: 0 10px;
        }
      }
    }
  }
}
